prefooter{
	display:block;
	text-align:center;
	background-color: rgb(207, 30, 30);	
	position:relative;
	overflow:visible;
	}
prefooter img{
	margin-top:-20px;

	}
prefooter a:hover{
	opacity:1;
}
prefooter a:hover img{
	margin-top:-40px;
	}
	

footer{
	width: auto;
	text-align:center;
	display:block;
	margin: auto;
	font-size: 11px;
	color:#FFF;
	padding:25px;
	font-weight: lighter;
	background-color: rgb(51, 48, 48);
	}
	
footer a {
	color: #FFF;
}
footer p {
		text-transform: uppercase;}



